        .container {
            text-align: center;
        }
        
        img {
            border-radius: 50%;
            margin: auto;
        }
        
        input[type="text"],
        input[type="email"],
        textarea {
            display: block;
            margin-bottom: 10px;
        }
        
        textarea {
            width: 50%;
        }